<div class="container">
  <form action="/" method="post">
    <input type="text" name="input_word" placeholder="Text here">
    <input type="submit">
  </form>


  <p>Anagrams for '<%= @word %>'</p>

  <% unless @dic.empty? %>
    <% @dic.each do |d| %>
    <p>
      <%= d.anagram %>
    </p>
    <% end %>
  <% end %>

</div>
