<div class="container">
  <h1>My Anagram</h1>
  <form action="/" method="post">
    <input type="text" name="input_word" placeholder="Text here">
    <input type="submit">
  </form>

  <% unless @word.nil? %>

    <p>Anagrams for '<%= @word %>'</p>

    <% unless @dic.empty? %>
      <ol>
        <% @dic.each do |d| %>
        <li>
          <%= d.anagram %>
        </li>
        <% end %>
      </ol>
    <% end %>

  <% end %>

</div>
